/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

li{
  padding: 0rem 0rem .6rem 0rem;
}

/* h2{
  font-size: 2rem;
} */

h3{
  margin: 0rem;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  padding: 2rem;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
}

main{
  display: flex;
  justify-content: space-evenly;
}

.leftSide{
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  margin: 0rem 3rem;
  padding: 1rem 2rem;
  flex-basis: 30%;
  font-size: 2rem;
}

.scheduleSection{
  /* border: 2px solid purple; */
  margin: 0rem 0rem 3rem 0rem;
}

.scheduleUl{
  padding: 0rem 0rem 0rem 1rem;
  list-style: none;
}

.time{
  padding-right: 2rem;
}

/* .toDoSection{
  border: 2px solid aqua;
} */

.toDoDiv > div{
  padding: .3rem 0rem .3rem 0rem;
}

.rightSide{
  /* border: 2px solid grey; */
  flex-basis: 50%;
}

.topRight{
  /* border: 2px solid rgb(39, 39, 41); */
  display: flex;
  justify-content: space-between;
}

.topRightL{
  margin: 0rem 3rem;
}

.stickiesDiv{
  /* border: 2px solid yellow; */
  display: flex;
  flex-wrap: wrap;
}

.stickyNoteDiv{
  background: palegoldenrod;
  margin: .5rem;
  padding: .5rem;
  font-size: 1.2rem;
  flex-basis: 28%;
  aspect-ratio: 1/1;
}

.topRightRFirst{
  /* border: 2px solid red; */
  margin: 0rem 0rem 3rem 0rem;
}

.musicDiv{
  background: darkslategray;
  display: flex;
  padding: 2rem;
}

.musicImgDiv{
  height: 80px;
}

.musicText{
  margin: 0rem 0rem 0rem 1rem;
}

.musicText > span{
  display: inline-block;
}

.timerDiv{
  background: lightpink;
  padding: 4rem;
  display: flex;
}

.timerDiv > h3{
  padding: 1rem;
  margin-right: 1rem;
}

.timerDiv > button{
  margin-right: 1rem;
}

.bottomRight{
  /* border: 2px solid orange; */
  margin: 3rem 0rem 0rem 0rem;
}

.goalsDiv > div{
  padding: .3rem 0rem .3rem 0rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
